---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Bio"
	pubDate={new Date('02 18 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>Je suis un développeur spécialisé en intelligence artificielle, Ce blog contient des réflexions personnelles sur travail et sur les transformations
		induites par l'intelligence artificielle
	</p>
</Layout>
